<div class="row">
 <div class="col-md-8">
   <div class="media">
     <br />

     <% avatar_url = @user.avatar_url(128) %>
     <% if avatar_url %>
      <div class="media-left">
        <%= image_tag avatar_url, class: 'media-object' %>
      </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<% if user_has_no_posts(@user.posts) %>
  <h4> <%= "#{@user.name} has not submitted any posts yet. Get to posting!" %></h4>
<% end %>
<%= render @user.posts %>

<h2>Comments</h2>
  <% if user_has_no_comments(@user.comments) %>
    <h4> <%= "#{@user.name} has not submitted any comments yet. Get to commenting!" %></h4>
  <% end %>
  <%= render @user.comments %>

<h2>Favorited Posts</h2>
<% @user.favorited_posts.each do |post| %>
  <h4>
    <%= link_to post.title, post %>
  </h4>
<% end %>
