<div>
  <%= render partial: 'votes/voter', locals: { post: @post } %>
  <h1><%= @post.title %></h1> <br />
  <small>submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %></small>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
    <div>
      <h3>Comments</h3>
      <!-- This simple line of code will call _comment.html.erb and render all the comments which belong to the given post. -->
      <%= render @post.comments %>
    </div>
    <!-- we all signed in users to see the comment form -->
    <% if current_user %>
    <!-- We render the comment form, and use comments/form because we are rendering the comment form from a post view.
      If we didn't specidy comments, Rails would render the posts form partial by default -->
      <%= render 'comments/form', comment: Comment.new, post: @post %>
    <% end %>
  </div>
  <% if user_is_authorized_for_post?(@post) %>
  <div class="col-md-4">
    <!-- We format a link as an Edit button which directs a user to posts edit page
    edit__topic_post_path(@post) is a helper method that is generated in routes.rb by resources :posts
    edit_topic_post_path takes two arguments, a topic and a post -->
      <%= link_to "Edit", edit_topic_post_path(@post.topic, @post), class: 'btn btn-success' %>
    <!-- We use link_to to create a delete button. The text on button is Delete Post
      We override the default method (:post) with :delete so that when the button is pressed, the route called is the delete route.
      link_to takes an aray of a topic and post which it uses to build the link to delete a nested post.
      The hash confirms the action with a JS confirmation dialog when a user presses the button -->
      <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
    </div>
  <% end %>
  <div class="col-md-4">
    <h3>
      <!-- we use the pluralize helper method to display the correctly pluralized forms of point, up vote, and down vote -->
      <%= pluralize(@post.points, 'point') %>
      <div>
        <small>
          <%= pluralize(@post.up_votes, 'up vote') %>
          <%= pluralize(@post.down_votes, 'down vote') %>
        </small>
      </div>
    </h3>
    <% if current_user %>
      <%= render partial: 'favorites/favorite', locals: { post: @post } %>
    <% end %> 
  </div>
</div>
